$background: #fff;
$colorText: #3A54B4;
$error: #ff5353;
$gray: #808080;
$black: #000000;
$white: #fff;

$marginBottom: 16rem;
$marginBottomMobile: 8rem;

$fontFamily: 'Work Sans', sans-serif;


$primary: #014f86;
$lightPrimary: #2a6f97;
$darkPrimary: #848be6;