@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
    @include max-width;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15rem;
    padding-bottom: 10rem;

    @include device(mobile) {
        margin-bottom: $marginBottomMobile;
        padding: 30rem 60rem;
    }


    .text {

        h1 {
            color: $colorText;
            font-family: $fontFamily;
            font-weight: bold;
            font-size: 170px;
            line-height: 0.8;

        }


        p {
            padding: 3rem 0;
            color: $colorText;
            font-family: $fontFamily;
            font-size: 31px;
        }

        a {
            width: 180px;
            height: 40px;
            align-items: center;
        }

    }

    .image {
        .pet {
            border-radius: 50%;
        }
    }
}