@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";


.title {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 62px;
    color: $colorText;
    padding: 6rem 0rem;
}

.container {
    width: 100vw;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0rem 5rem;
    margin-bottom: 10rem;

    .containerSection {

        display: grid;
        grid-template-columns:
            0.5fr 0.5fr 0.5fr;

        .img {
            padding: 0.8rem;
        }
    }
}